/* MAIN */

main {
    display: flex;
    flex-direction: column;
    font-family: var(--f-sora);
    padding-bottom: 80px;
}

/*

    HEADER

*/

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 30px;
    border-bottom: var(--border-c);
    background-color: rgba(20, 20, 22, 0.85);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999;
}

/* HEADER GO BACK BUTTON */

.header-go-back-button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: var(--border-c);
    transition: background-color 200ms;
}

.header-go-back-button-svg {
    fill: rgb(136, 138, 139);
    width: 18px;
    height: 18px;
    transition: fill 200ms;
}

.header-go-back-button:hover {
    background-color: var(--bg-hover-color);
}

.header-go-back-button:hover .header-go-back-button-svg {
    fill: white;
}

.header-challenge-name {
    color: rgb(136, 138, 139);
    font-weight: 400;
}

/* 

    MAIN ITSELF

*/

.main-itself {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

/* MAIN ITSELF CHALLENGE NAME */

.main-itself-challenge-name {
    padding: 60px 80px;
    border-bottom: var(--border-c);
    position: relative;
    overflow: hidden;
    background: url(../assets/challenge-images/guessTheGame1.png) no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -1;
    animation: 40s infinite challenge-bg-image-animation;
}

.main-itself-challenge-name::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(20, 20, 22, 0.8);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main-itself-challenge-name-itself {
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

@keyframes challenge-bg-image-animation {
    0%{background-position: top;}
    50%{background-position: bottom;}
    100%{background-position: top;}
}

/* MAIN ITSELF CHALLENGE INFORMATION */

.main-itself-challenge-information {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid rgba(35,38,39);
}

/* MAIN ITSELF CHALLENGE INFORMATION LEFT */

.main-itself-challenge-information-left {
    border-right: 1px solid rgba(35,38,39);
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.main-itself-challenge-information-left-inner {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.main-itself-challenge-information-left-inner-subheader {
    color: white;
    font-weight: 600;
}

.main-itself-challenge-information-left-inner-paragraph {
    color: white;
    font-weight: 300;
    line-height: 1.7;
}

.main-itself-challenge-information-left-inner-ul {
    color: white;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main-itself-challenge-information-left-inner-ul-item {
    font-weight: 300;
}

.main-itself-challenge-information-left-inner-ul-item span {
    font-weight: 500;
}

.main-itself-challenge-information-left-inner-image {
    width: 100%;
}

/* MAIN ITSELF CHALLENGE INFORMATION RIGHT */

.main-itself-challenge-information-right {
    width: 440px;
}

.main-itself-challenge-information-right-itself {
    position: sticky;
    top: 80px;
    left: 0;
}

.main-itself-challenge-information-right-itself-inner {
    height: 70px;
    border-bottom: var(--border-c);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    column-gap: 20px;
}

.main-itself-challenge-information-right-itself-inner-hidden {
    display: none;
}

.main-itself-challenge-information-right-itself-inner-text:first-of-type {
    color: rgb(136, 138, 139);
    font-weight: 400;
}

.main-itself-challenge-information-right-itself-inner-text:last-of-type {
    color: white;
    font-weight: 600;
}

.main-itself-challenge-information-right-itself-inner-link {
    height: 70px;
    border-bottom: var(--border-c);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
    color: white;
    text-decoration: none;
}

.main-itself-challenge-information-right-itself-inner-link:hover {
    background-color: var(--bg-hover-color);
}