/* FOOTER */

footer {
    height: 70px;
    border-top: var(--border-c);
    display: grid;
    grid-template-columns: 1fr auto;
}

/* FOOTER LINK */

.footer-link {
    width: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--f-sora);
}

.footer-link-text-container {
    position: relative;
    overflow: hidden;
}

.footer-link-text-itself {
    color: rgb(200, 200, 200);
    font-weight: 500;
    transition: transform 300ms;
}

.footer-link-text-itself:last-of-type {
    color: white;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    transform: translateY(30px);
    transition: transform 300ms;
}

/* FOOTER LINK HOVER */

.footer-link:hover {
    background-color: var(--bg-hover-color);
}

.footer-link:hover .footer-link-text-itself {
    transform: translateY(-50px);
}

.footer-link:hover .footer-link-text-itself:last-of-type {
    transform: translateY(0);
}

/* FOOTER LINKS */

.footer-links {
    display: flex;
}

.footer-link-itself {
    border-left: 1px solid rgba(35,38,39);
    padding-inline: 25px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.footer-link-itself-svg {
    width: 28px;
    height: 28px;
    fill: white;
}

.footer-link-itself:hover {
    background-color: var(--bg-hover-color);
}