/* MAIN */

main {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

/* 

    MAIN HEADER

*/

.main-header {
    padding-block: 60px;
    display: flex;
    justify-content: center;
    border-bottom: var(--border-c);
    position: relative;
    background-color: rgba(18,18,18, 0.2);
}

.main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/main-header-bg.svg) no-repeat;
    background-size: cover;
    opacity: 0.05;
    z-index: -1;
}

.main-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, transparent, var(--bg-color) 90%);
}

.main-header-itself {
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--f-source-code-pro);
    font-weight: 600;
}

/*

    MAIN SEARCH FILTER

*/

.main-search-filter {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 80px;
    border-bottom: var(--border-c);
}

/* MAIN SEARCH */

.main-search {
    display: flex;
}

.main-search-input-container {
    width: 100%;
    height: 100%;
    padding-inline: 30px 20px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.main-search-input-svg {
    color: white;
    width: 30px;
    height: 30px;
}

.main-search-input-itself {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.2rem;
    border: 0;
    background-color: transparent;
    color: white;
    font-family: var(--f-sora);
}

.main-search-input-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
}

.main-search-input-button-shown {
    opacity: 1;
    pointer-events: unset;
}

.main-search-input-button-svg {
    color: white;
    height: 25px;
    height: 25px;
}

.main-search-input-button:hover {
    background-color: rgba(255,255,255,0.06);
}

.main-search-input-button:active {
    background-color: rgba(255,255,255,0.04);
}

/* MAIN FILTER */

.main-filter {
    border-left: var(--border-c);
    width: 250px;
    position: relative;
}

/* MAIN FILTER ITSELF */

.main-filter-itself {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.main-filter-itself-text {
    color: white;
    font-family: var(--f-sora);
    font-weight: 500;
    font-size: 1.2rem;
}

.main-filter-itself-svg {
    width: 17px;
    height: 17px;
    fill: white;
    transition: transform 300ms;
}

.main-filter-itself:hover {
    background-color: var(--bg-hover-color);
}

.main-filter-itself:active {
    background-color: var(--bg-active-color);
}

.main-filter-itself-active {
    background-color: var(--bg-active-color);
}

.main-filter-itself-active .main-filter-itself-svg {
    transform: rotateZ(180deg);
}

/* MAIN FILTER DROP DOWN */

.main-filter-drop-down {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    border: 1px solid rgba(35,38,39);
    border-bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 50;
    transition: opacity 300ms;
    box-shadow: 0 4px 0 rgba(0,0,0,0.4);
}

.main-filter-drop-down-active {
    opacity: 1;
    pointer-events: unset;
}

/* MAIN FILTER DROP DOWN INPUT */

.main-filter-drop-down-input {
    width: 100%;
    height: 60px;
    position: relative;
    border-bottom: var(--border-c);
}

.main-filter-drop-down-input label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    margin-inline: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(45,48,49);
    background-color: var(--border-c);
    position: relative;
}

input[type="checkbox"]::before {
    content: url(../assets/checked.svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

/* MAIN FILTER DROP DOWN INPUT STATES */
 
input[type="checkbox"]:checked {
    opacity: 1;
    background-color: var(--bg-active-color);
}

input[type="checkbox"]:checked::before {
    display: flex;
}

.main-filter-drop-down-input-text {
    color: white;
    font-family: var(--f-sora);
    font-weight: 400;
}

.main-filter-drop-down-input:hover {
    background-color: var(--bg-hover-color);
}

.main-filter-drop-down-input:active {
    background-color: var(--bg-active-color);
}

/*

    MAIN OUTPUT

*/

.main-output {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* MAIN OUTPUT ITSELF */

.main-output-itself {
    font-family: var(--f-sora);
    padding: 15px;
    border-right: var(--border-c);
    border-bottom: var(--border-c);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-decoration: none;
    position: relative;
}

.main-output-itself::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(32, 32, 34), transparent);
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms;
}

/* MAIN OUTPUT ITSELF IMAGE */

.main-output-itself-image {
    width: 100%;
    background-color: var(--bg-color);
    line-height: 0;
    position: relative;
}

.main-output-itself-image-itself {
    width: 100%;
}

/* MAIN OUTPUT ITSELF IMAGE BORDERS */

.main-output-itself-image-borders {
    --large: 18px;
    --thickness: 1px;
    --position: 0;
    --opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* MAIN OUTPUT ITSELF IMAGE BORDER TOP LEFT */

.main-output-itself-image-border-top-left {
    position: absolute;
    top: var(--position);
    left: var(--position);
    background-color: white;
    width: var(--large);
    height: var(--thickness);
    opacity: var(--opacity);
    transition: top 300ms, left 300ms, opacity 300ms;
}

.main-output-itself-image-border-top-left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--thickness);
    height: var(--large);
    background-color: white;
}

/* MAIN OUTPUT ITSELF IMAGE BORDER TOP RIGHT */

.main-output-itself-image-border-top-right {
    position: absolute;
    top: var(--position);
    right: var(--position);
    background-color: white;
    width: var(--large);
    height: var(--thickness);
    opacity: var(--opacity);
    transition: top 300ms, right 300ms, opacity 300ms;
}

.main-output-itself-image-border-top-right::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: var(--thickness);
    height: var(--large);
    background-color: white;
}

/* MAIN OUTPUT ITSELF IMAGE BORDER BOTTOM LEFT */

.main-output-itself-image-border-bottom-left {
    position: absolute;
    bottom: var(--position);
    left: var(--position);
    background-color: white;
    width: var(--large);
    height: var(--thickness);
    opacity: var(--opacity);
    transition: bottom 300ms, left 300ms, opacity 300ms;
}

.main-output-itself-image-border-bottom-left::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--thickness);
    height: var(--large);
    background-color: white;
}

/* MAIN OUTPUT ITSELF IMAGE BORDER BOTTOM RIGHT */

.main-output-itself-image-border-bottom-right {
    position: absolute;
    bottom: var(--position);
    right: var(--position);
    background-color: white;
    width: var(--large);
    height: var(--thickness);
    opacity: var(--opacity);
    transition: bottom 300ms, right 300ms, opacity 300ms;
}

.main-output-itself-image-border-bottom-right::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--thickness);
    height: var(--large);
    background-color: white;
}

/* MAIN OUTPUT ITSELF INFORMATION */

.main-output-itself-information {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* MAIN OUTPUT ITSELF INFORMATION HEADER */

.main-output-itself-information-header {
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: space-between;
}

.main-output-itself-information-header-itself {
    color: white;
    font-weight: 500;
}

.main-output-itself-information-header-level {
    color: rgb(200, 200, 200);
    border: 1px solid rgba(35,38,39);
    padding: 8px 10px;
    font-size: 0.8rem;
    font-weight: 300;
}

/* MAIN OUTPUT ITSELF INFORMATION MORE */

.main-output-itself-information-more {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.main-output-itself-information-more-paragraph {
    color: rgb(200, 200, 200);
    line-height: 1.5;
    font-weight: 300;
}

/* MAIN OUTPUT ITSELF STATES */

.main-output-itself:hover .main-output-itself-image-borders {
    --position: 10px;
    --opacity: 1;
}

.main-output-itself:hover::before {
    opacity: 1;
}

/* MEDIA QURIES */

@media (max-width: 1000px) {
    .main-header-itself {
        font-size: 2.5rem;
    }
}

@media (max-width: 800px) {
    .main-header-itself {
        font-size: 2rem;
    }
    .main-header {
        padding: 40px;
    }
    .main-output {
        grid-template-columns: 1fr;
    }
    .main-output-itself {
        border-right: 0;
    }
    .main-search-filter {
        height: 60px;
    }
    .main-filter {
        width: 220px;
    }
    .main-header::before {
        background-size: 200%;
    }
    .main-search-input-button {
        padding: 5px;
    }
    .main-search-input-button-svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 650px) {
    .main-search-filter {
        grid-template-columns: 1fr;
        height: auto;
    }
    .main-search {
        height: 60px;
        border-bottom: 1px solid rgba(35,38,39);
    }
    .main-filter {
        border: 0;
        width: 100%;
        height: 50px;
    }
    .main-filter-itself {
        column-gap: 10px;
    }
    .main-filter-itself-text,
    .main-search-input-itself {
        font-size: 1.05rem;
    }
    .main-search-input-svg {
        width: 25px;
        height: 25px;
    }
    .main-filter-itself-svg {
        width: 14px;
        height: 14px;
    }
    .main-filter-drop-down-input {
        height: 50px;
    }
    .main-filter-drop-down-input-text {
        font-size: 1rem;
    }
}